*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;   
}
body{
    background-color:pink;
}

/* Example 1 */
.container{
    background-color: grey;
    max-width: 750px;
    margin: 20px auto;
    padding: 30px;;
}

.container div{
display: flex;
padding: 10px 0px;
}

.container div input{
    flex:1;
}

/* Example 2 */

.column-container{
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto;
  line-height: 1.5;
  padding: 20px 50px;
  display: flex;
}

.main-column{
    flex: 3;
    order:2
}

.sidebar-one{
    flex: 1;
    order:1
}
.sidebar-two{
    flex: 1;
    order:3
}

/* Example 3 */

.col-container{
  max-width: 1300px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.feature{
    padding: 20px;
    background-color: lightcoral;
    /* flex: 1; */
    /* width:30%; */
    flex-basis: 30%;
}

/*Example 4 */

.res-container{
    max-width: 1300px;
    margin: 40px auto;
    /* display: flex;
    justify-content: space-between; */
  }
  
.res-feature{
      padding: 20px;
      margin-bottom: 20px;
      background-color: palevioletred;
      flex-basis: 30%;
      border:2px whitesmoke dashed;
  }

  @media(min-width:900px){
      .res-container{
        display: flex;
        justify-content: space-between;
      }
  }

  /* Example 5 */
  .fixed-size-container {
    max-width: 1300px;
    margin: 40px auto;
    background-color: #FFF;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .fixed-size {
    width: 150px;
    height: 100px;
    background-color: #990b47;
    color: #FFF;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
  }
  
  /* Example 6 */

  .banner {
    height: 400px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
  }
  
  .center-me {
    color: #FFF;
    font-size: 50px;
    margin:auto; /*to center just horizontallly => margin:0px auto*/
  }

  /* Example-7 */

  .eq-container{
    max-width: 900px;
    margin:20px auto;
    display: flex;
  }

  .col-1{
    background-color: slategray;
    padding: 20px;
    flex:1;
  }

  .col-2{
   flex:1;
   /* nesting flex */
   display: flex;
   flex-direction: column;
}

  .col-2a{
    background-color: whitesmoke;
    flex:1;
  }

  .col-2b{
    background-color: #990b47;
    flex:1;
  }