*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
}

h1,h2{
    margin-bottom: 18px;
}

.banner{
    padding:80px;
    background-color: #E27D60;
    text-align: center;
}

nav{
    background-color: #85dcb8;

}

nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color:#41B3A3;
    font-weight: bolder;
    padding: 20px;;
}

nav a:hover{
    background-color:#41B3A3;
    color: white;
}
.main{
    background-color:#41B3A3;
    padding: 20px;
}

.side{
    background-color: #C38D9E;
    padding: 20px;
}

footer{
    background-color: #242582;
    text-align: center;
    padding: 20px;
}

@media(min-width:600px){
    nav,.container{
        display: flex;
    }

    .main{
        flex:5;
        order:2;
    }
    .side{
        flex:1;
        order:1;
    }
}