.mydiv {
    background-color:grey;
}

.secondDiv {
    background-image: url('../../media/sample_img.jpg');
    background-repeat: no-repeat;
    background-position: center bottom; /*bottom left */
}